<h1> Password Generator </h1>
<div>
  <label> Enter Length </label>
  <input (input)="onChangeLength($event.target!)"/>
</div>

<div>
  <input (change)="onChangeLetters()" type="checkbox" />
  <label>Use Letters</label>
</div>
<div>
  <input (change)="onChangeNumbers()" type="checkbox" />
  <label>Use Numbers</label>
</div>
<div>
  <input (change)="onChangeSymbols()"type="checkbox" />
  <label>Use Symbols</label>
</div>

<div>
  <button 
  [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))" 
  (click)="onButtonClick()"> Generate! </button>
</div>

<div>
  <label> Your Password </label>
  <input [value]="password"/>
</div>

{{ password }}