<h1> Password Generator </h1>
<div>
  <label> Enter Length </label>
  <input value="Length"/>
</div>

<div>
  <input value="Letters" type="checkbox" />
  <label>Use Letters</label>
</div>
<div>
  <input value="Numbers" type="checkbox" />
  <label>Use Numbers</label>
</div>
<div>
  <input value="Symbols" type="checkbox" />
  <label>Use Symbols</label>
</div>

<div>
  <button (click)="onButtonClick()"> Generate! </button>
</div>

<div>
  <label> Your Password </label>
  <input [value]="password"/>
</div>

{{ password }}